.nav_title {
	width: 225px;
	float: left;
	color: white;
	border-radius: 0;
}

.site_title i {
	border: 1px solid #EAEAEA;
	color: white;
	padding: 5px 6px;
	border-radius: 50%;
}

.sidebar {
	border-radius: 0;
	/*position: fixed;*/
	position:absolute;
	top: 0;
	left: 0;
	width: 225px;
	height:100%;
	border: none;
	border-radius: 0;
	overflow-y: auto;
	background: #0b2431; 
	mbackground: -webkit-linear-gradient(top left, #000 0%, #3f729b 100%);
	mbackground: -o-linear-gradient(top left, #000 0%, #3f729b 100%);
	mbackground: linear-gradient(to bottom right, #000 0%, #3f729b 100%);
	bottom: 0;
	overflow-x: hidden;
	padding-bottom: 40px;
	transition: all 0.2s ease-in-out;
}
.sidebar-group { margin-left:0;margin-right:0;margin-top:0;margin-bottom:0; }
.sidebar-group-item { position:relative; }
.sidebar-child { margin-left:23px; }
.sidebar-chevron { position:absolute;right:15px;top:8px; }
.sidebar-image { width:20px;text-align:center; }

ul a {
	font-size: 12px;
	margin: 1px 15px 1px 15px;
	padding: 5px 15px 5px 15px;
	width:175px;
	text-decoration: none;
	display: inline-block;
	color: white;
	border-top-right-radius: 0.25rem;
	border-top-left-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
	border-bottom-left-radius: 0.25rem;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
ul a:hover {
	color: #FFFFFF;
	background-color: #294a65; /* #3f729b; */
}
ul a.active {
	color: #FFFFFF;
	background-color: #294a65;
}


