GeneratedFolders/*.*
AllClassesFiles/*.*
demos/*.*
dist/*.*
dist
ext-angular-prod
generators/ext-angular/*.*
testing
package-lock.json
node_modules
build
.vscode
.DS_Store
.idea
.sencha
npm-debug.log*
lerna-debug.log
sencha-ext-angular-modern-7.2.0.tgz