.a-treelist {
	-webkit-box-flex: 1; flex: 1 1 0px;
	min-height: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background-position: 44px 0%;
	padding: 0 0 0 0;
	overflow: hidden;
	position: relative;
	font-family:'Roboto', sans-serif;
	font-style: normal;
	font-weight: 300;
}
.a-treelist-root-container {
	overflow: hidden;
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;

}
.a-treelist-item {
	overflow: hidden;
	list-style: none;
	padding: 0;
	margin: 0;

}
.a-treelist-row {
    padding-left: 10px;
    padding-right: 10px;
		position: relative;
		margin: 0;
		box-sizing: border-box;
}

.a-treelist-row:hover {
	color: #FFFFFF;
	background-color: #475360; /* #294a65; */
}
.a-treelist-row.active {
	color: #FFFFFF;
	background-color: #475360;

}

.a-treelist-row.active:before {
		background-color: #5fa2dd;
    content: " ";
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 5px;
    height: 100%;
}

.a-treelist-item-wrap {
		margin-left: 0px;
    position: relative;
		margin: 0;
    padding: 0;
}
.a-treelist-item-icon {
	font-size: 12px;
	width: 24px;

	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	color: #fff;
	text-align: center;
	background-repeat: no-repeat;
	background-position: 0 center;
	display: block;
	position: absolute;
	top: 5px;
	margin: 0;
	padding: 0;
}
.a-treelist-item-text {
	font-size: 12px;
	margin-left: 30px;
	margin-right: 24px;

	-webkit-font-smoothing: antialiased;
	color: #fff;
	line-height: 30px;
	text-overflow: initial;
	white-space: normal;
	cursor: default;
	overflow: hidden;
}


.a-treelist-item-expander {
	font-size: 12px;
	width: 24px;

	cursor: pointer;
	color: #fff;
	text-align: center;
	background-repeat: no-repeat;
	background-position: 0 center;
	line-height: 30px;
	display: block;
	right: 0;
	position: absolute;
	top: 0;
	margin: 0;
	padding: 0;
}


