<div style="top:0;height:50px;left:225px;" class="navbar navbar-fixed-top topnav">
		<a href="index.html" style="padding-left:15px;margin-top:5px;font-size:20px;color:white;" class="navbar-brand">Dashboard (2016)</a>
		<!-- <span style="float:left;margin-top:20px;margin-left:0;width:100px;">Filter By:</span>
		<select style="float:right;margin-top:10px;margin-left:120px;color:black;" (change)="onSelect($event.target.value)" > 
			<option *ngFor="let obj of objArray" [value]="obj.name">{{obj.name}}</option>
		</select> -->
</div>
