.profile {margin-top:20px;width:100%;height:50px;}
.img-circle {border-radius: 50%;width:30%;margin-left:auto;margin-right:auto;display: block;}
.profile_info {margin-top:10px;color:white;text-align:center;}
.profile_collapsed {border-radius:50%;height:40px;margin:5px;border:1px solid white;}
