demos
GeneratedFolders
AllClassesFiles
package-lock.json
node_modules
ext-6.6.0
.DS_Store
misc.txt
misc
readmeold.md
ext-angular-classic
ext-angular-modern
ext-angular-demos
classic-all-classes-flatten.json
modern-all-classes-flatten.json